@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Link{
  text-decoration: none;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */



.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* ************************************ LOGIN SIGNUP CSS ***************************** */
 .login-signup{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  margin: auto;
 }
 .login-signup img{
  margin-bottom: 1rem;
 }
 .login-signup>p:nth-child(2){
  font-size:2rem;
  font-weight: 700;
  margin-bottom: 1rem;
 }
.using-f-e-s{
  display: flex;
}
.using-f-e-s p:nth-child(1),.using-f-e-s p:nth-child(2),.using-f-e-s p:nth-child(3){
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.using-f-e-s p:nth-child(1){
  background-color: blue;
  color: white;

}
.using-f-e-s p{
  margin-inline: 10px;

}
.login-signup a:nth-child(6),.login-signup a:nth-child(7){
  margin-bottom: 1rem;
  text-decoration: none;
  color: orangered;
  font-weight: 500;
  font-size: 1.2rem;
}
.login-signup input:nth-child(5),.login-signup input:nth-child(4),.login-signup input:nth-child(6){
  margin-bottom: 1rem;
  width: 400px;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  /* border: none; */
  outline: none;
}
.login-signup button:nth-child(7),.login-signup button:nth-child(8){
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: orangered;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 20px;
}
.create-alreadyaccount{
  display: flex;
  margin-top: 1rem;
}

@media (max-width:832px){
  .login-signup>p:nth-child(2){
    font-size:1rem;
    font-weight: 700;
    margin-bottom: 1rem;
   }
   .login-signup input:nth-child(5),.login-signup input:nth-child(4),.login-signup input:nth-child(6){
    margin-bottom: 1rem;
    width: 320px;
    padding: 0.5rem;

  }
}

/* *************************************** LOGIN SIGNUP CSS END ************************************** */